<?xml version="1.0"?>
<robot name="user_model">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.85"/>
      <geometry><cylinder radius="0.3" length="1.7"/></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.85"/>
      <geometry><cylinder radius="0.3" length="1.7"/></geometry>
    </collision>
    <inertial>
      <mass value="50.0"/>
      <!-- 将重心死死锁在近乎地面的位置 0.1，实现“不倒翁”效果 -->
      <origin xyz="0 0 0.1"/>
      <inertia ixx="12" ixy="0" ixz="0" iyy="12" iyz="0" izz="2"/>
    </inertial>
  </link>

  <!-- 消除摩擦力，让其如幽灵般平滑滑动 -->
  <gazebo reference="base_link">
    <material>Gazebo/Cyan</material>
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
  </gazebo>

  <gazebo>
    <plugin name="user_planar_move" filename="libgazebo_ros_planar_move.so">
      <ros>
        <namespace>/</namespace>
        <remapping>cmd_vel:=user_cmd_vel</remapping>
        <remapping>odom:=user_odom</remapping>
      </ros>
      <robot_base_frame>base_link</robot_base_frame>
    </plugin>
  </gazebo>
</robot>
